<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="388493634506-iar05f460sjmrto9dbd7271c76eu8ks4.apps.googleusercontent.com"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Become The Richest</title>
    <link
      rel="stylesheet"
      href="../style/fontawesome-free-5.15.3-web/css/all.css"
    />
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="shortcut icon" href="../img/cash.jpg" type="image/x-icon" />

    <style>
      h1 {
        position: relative;
        top: 10vh;
        font-size: 10vh;
        font-weight: 1000;
      }
    </style>
  </head>

  <body>
    <!-- 
    <img src="../img/background.gif" style="position: fixed;left: 0;top: 0;height: 100vh;width: 100vw;"
        id="backgroundImg"> -->
    <a href="/"
      ><button style="position: absolute; left: 0; top: 0">
        <label class="fa fa-home"></label>
      </button>
    </a>

    <% if(answerStatus){ %>
    <h1>Correct Answer!!</h1>

    <div style="position: relative; top: 15vh">
      <h2>You Earn <%= moneyEarned %></h2>
      <h2>Your Streak has increased</h2>
      <% if(leveledUp){ %>
      <h2>
        You Leveled up, your level is now
        <label style="color: rgb(255, 0, 255); font-weight: bold"
          ><%= level %></label
        >
      </h2>
      <% } %>
    </div>

    <div>
      <button
        onclick="window.location = '/start'"
        style="position: relative; bottom: -60vh"
      >
        Next Question
      </button>
    </div>
    <% }else{ %>
    <h1>Wrong Answer!!!</h1>
    <div, style="position: relative;top: 15vh;">
      <h2>Don't worry, try again</h2>
      <h2>Your Streak Has ENDED!!!</h2>
    </div>

    <button onclick="window.location = '/start'">Next Question</button>

    <% } %>
    <script>
      let backgroundImg = document.getElementById("backgroundImg");

      // backgroundImg.setAttribute("width", window.innerWidth);
      // backgroundImg.setAttribute("height", window.innerHeight);

      let input = document.getElementsByTagName("input");
    </script>
  </body>
</html>
