<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="388493634506-iar05f460sjmrto9dbd7271c76eu8ks4.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Become The Richest</title>
    <link rel="stylesheet" href="../style/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="shortcut icon" href="../img/cash.jpg" type="image/x-icon">

    <style>
        h1 {
            position: relative;
            top: 10vh;
            font-size: 10vh;
            font-weight: 1000;
        }
    </style>
</head>

<body>

    <img src="../img/background.gif" style="position: fixed;left: 0;top: 0;height: 100vh;width: 100vw;"
        id="backgroundImg">

    <h1>Sign In</h1>

    <div>
    </div>

    <form action="/sign_in" method="POST">
        <div style="position: relative;top: 50vh;">
            <input type="email" name="email" id="signInEmail" placeholder="Email" required>
            <div><input style="position: relative;left: 9px;" type="password" name="password" placeholder="Password" id="signInPass" required><i class="fa fa-eye" style="position: relative;right: 1vw;"></i></div>
        <button type="submit">Sign In</button>
        <div style="display: flex;justify-content: center;" class="g-signin2" data-onsuccess="onSignIn"></div>
        <h2>Already have an account? <a href="/sign_in">Sign In</a></h2>
        <!-- </div> -->
    </form>

    <script>
        let backgroundImg = document.getElementById("backgroundImg");

        backgroundImg.setAttribute("width", window.innerWidth);
        backgroundImg.setAttribute("height", window.innerHeight);

        let input = document.getElementsByTagName("input")
        let i = document.getElementsByTagName("i")

        let showing = false;
            i[0].addEventListener("click", () => {

                if (!showing) {
                    input[1].setAttribute("type", "text")
                    i[0].style.color = "#0084ff";
                    showing = true;
                } else {
                    input[1].setAttribute("type", "password")
                    i[0].style.color = "white";
                    showing = false;
                }

            })

            function onSignIn(googleUser) {
                    var profile = googleUser.getBasicProfile();
                    // input[0].value = profile.getName();
                    input[0].value = profile.getEmail();
                    // input[2].value = profile.getImageUrl();
                }

    </script>

</body>

</html>